# Slack Team
SLACK_TEAM_ID=T...

# PM Donald
SLACK_BOT_TOKEN_PM=xoxb-...
SLACK_APP_TOKEN_PM=xapp-...

# Designer Donald
SLACK_BOT_TOKEN_DESIGNER=xoxb-...
SLACK_APP_TOKEN_DESIGNER=xapp-...

# Frontend Donald
SLACK_BOT_TOKEN_FRONTEND=xoxb-...
SLACK_APP_TOKEN_FRONTEND=xapp-...

# Backend Donald
SLACK_BOT_TOKEN_BACKEND=xoxb-...
SLACK_APP_TOKEN_BACKEND=xapp-...

# Researcher Donald
SLACK_BOT_TOKEN_RESEARCHER=xoxb-...
SLACK_APP_TOKEN_RESEARCHER=xapp-...

# SecOps Donald
SLACK_BOT_TOKEN_SECOPS=xoxb-...
SLACK_APP_TOKEN_SECOPS=xapp-...

# QA Chalmers
SLACK_BOT_TOKEN_QA=xoxb-...
SLACK_APP_TOKEN_QA=xapp-...
